# Recebendo 2 valores através do input

In [9]:
num1 = input("Digite um numero: ")
print(num1)
print(type(num1))
num2 = input("Digite outro numero: ")
print(num2)
print(type(num2))

Digite um numero: 11
11
<class 'str'>
Digite outro numero: 12
12
<class 'str'>

# Convertendo os numeros para ponto flutuante

In [10]:
num1 = float(num1)
print(type(num1))
num2 = float(num2)
print(type(num2))

<class 'float'>
<class 'float'>

# Aplicando 4 operações matemáticas no código

In [11]:
#Adicação
soma = (num1 + num2)
print(soma)

23.0

In [12]:
#subtração
subtracao = num1 - num2
print(subtracao)

-1.0

In [13]:
#multiplicação
multiplicacao = num1 * num2
print(multiplicacao)

132.0

In [14]:
#divisão
divisao = num1 / num2
print(divisao)

0.9166666666666666

# Adicionando um laço de repetição e permitindo que o usuário realize a operação matemática desejada:

In [22]:
resp = "s" #força a primeira entrada no loop com a reposta sim

while (resp == "s"):
  num1 = float(input("Digite um numero: "))
  num2 = float(input("Digite outro numero: "))


  print("Vamos calcular: ")

  print("Digite a operação desejada:")
  print("1 - Adição")
  print("2 - Subtração")
  print("3 - Multiplicação")
  print("4 - Divisão")

  operacao = int(input())

  if(operacao == 1):
    soma = num1 + num2
    print("O resultado da sua soma é:",soma)

  elif(operacao == 2):
    subtracao = num1 - num2
    print("O resultado da sua subtração é:",subtracao)

  elif(operacao == 3):
    multiplicacao = num1 * num2
    print("O resultado da sua multiplicação é: ",multiplicacao)

  elif(operacao == 4):
    divisao = num1 / num2
    print("O resultado da sua divisãoé: ",divisao)

  else:
    print("Operação inválida")

  print("Deseja continuar calculando: [S/N]")
  resp = input().lower() #converte a resposta para minusculo em caso do usuário digitar maiúsculo

Digite um numero: 5
Digite outro numero: 8
Vamos calcular:
Digite a operação desejada:
1 - Adição
2 - Subtração
3 - Multiplicação
4 - Divisão
1
O resultado da sua soma é: 13.0
Deseja continuar calculando: [S/N]
s
Digite um numero: 10
Digite outro numero: 11
Vamos calcular:
Digite a operação desejada:
1 - Adição
2 - Subtração
3 - Multiplicação
4 - Divisão
3
O resultado da sua multiplicação é:  110.0
Deseja continuar calculando: [S/N]
n